@import '../../styles/variables.scss';
.user-container {
  //   max-width: 768px;
  //margin: 0 auto;
  .section {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    font-size: 16px;
    color: #444;
    text-align: left;
    @media screen and (min-width: $minTabletWidth) {
      font-size: 18px;
    }
    .section-header {
      color: #555;
      font-weight: 200;
      margin-bottom: 8px;
      text-align: center;
      text-transform: uppercase;
    }
    &.basic-info-section {
      .name {
        font-weight: 500;
      }
      .bio {
        margin-top: 6px;
      }
    }
    &.stats-section {
      .follow-stats-wrapper {
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        & > * {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          &:first-child {
            border-right: 1px solid #eee;
          }
          &:nth-child(2) {
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
              .label {
                opacity: 1;
              }
            }
          }
          .count {
            margin-bottom: 4px;
          }
          .label {
            font-size: 14px;
            opacity: 0.9;
            @media screen and (min-width: $minTabletWidth) {
              font-size: 16px;
            }
          }
        }
      }
    }
    &.more-info-section {
      .icon {
        width: 20px;
        height: 20px;
        color: #666;
        font-size: 16px;
        margin-right: 2px;
        @media screen and (min-width: $minTabletWidth) {
          font-size: 18px;
          margin-right: 4px;
        }
      }
      .email {
        @media screen and (min-width: $minTabletWidth) {
          margin-top: 4px;
        }
        .icon {
          margin-right: 6px;
          font-size: 13px !important;
          @media screen and (min-width: $minTabletWidth) {
            margin-right: 6px;
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
